
header {
 background-color: #1CABE2;
 height: 100px;
 max-width: 100%;
 margin: -10px;
 text-align: left;
}

nav{
  margin-top: -4px;
  margin-bottom: -4px;
}
/* List styling     */
ul {
 list-style-type: none;
 margin: 0px -10px 0px -10px;
 padding: 0px;
 overflow: hidden;
 background-color: #FFFFFF;
 box-shadow: 1px #1CABE2;
}

li {
 float: left;
}

li a {
 display: block;
 font-family: arial, verdana, sans-serif;
 font-weight: bolder;
 font-size: 0.8em;
 text-align: center;
 padding: 15px 35px;
}

/* Links will add blue border to bottom when hovered */
li a:hover {
 border-bottom: 0.5em solid #1CABE2;
}

/*active link will be greyed out and have border*/
.active {
 border-bottom: 0.5em solid #1CABE2;
 background-color: #F1F1F1;
}

a:link {
  font: arial;
  color: #303030;
  text-decoration: none;
}
a:visited {
  font: arial;
  color: #303030;
  text-decoration: none;
}

/* text styling */
body {background-color: #F1F1F1;
      font: 1em geneva;
      color: #000000;
}
h1 {
  color:#FFFFFF;
  font-size: 2em;
  font-family: cRoboto, roboto light, sans-serif;
  text-align: center;
}

/* For explainer text within body */
h3{
    font-family: arial, verdana, sans-serif;
    font-size: 1em;
    color: #595959;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px #1CABE2;
}

footer {
  background-color: #1CABE2;
  color: #FFFFFF;
  font-size: 0.7em;
  font-family: arial,verdana, sans-serif;
  height: 100px;
}

article{
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 1px 1px #1CABE2;
  font-family: arial, verdana, sans-serif;
  font-size: 1em;
  color: #595959;
  padding:20px;
  border-radius: 5px;
  max-width:45%;
  margin:20px;

}


  section {
    display: flex;
    flex-direction: row;
    justify-content:center;

  }
