
head {
 background-color: #1CABE2;
 height: 400px;
 margin-bottom: -10px;
 text-align: center;
}

/* List styling     */
ul {
 list-style-type: none;
 margin: 0px;
 padding: 0px;
 overflow: hidden;
 background-color: #FFFFFF;
}

li {
 float: left;
}

li a {
 display: block;
 font: arial;
 text-align: center;
 padding: 15px 17px;
}

/* Links will add blue border to bottom when hovered */
li a:hover {
 border-bottom: 1em solid #1CABE2;
}

/*active link will be greyed out and have border*/
.active {
 border-bottom: 1em solid #1CABE2;
 background-color: #F1F1F1;
}

a:link {
  font: arial;
  color: #303030;
  text-decoration: none;
}
a:visited {
  font: arial;
  color: #303030;
  text-decoration: none;
}

/* text styling */
body {background-color: #F1F1F1;
      font: 1em geneva;
      color: #000000;
}
h1 {
  color:#FFFFFF;
  font-size: 2em;
  font-family: cRoboto, roboto light, sans-serif;

}

footer {
  background-color: #1CABE2;
  color: #FFFFFF;
  font: 0.7em geneva;
  height: 100px;
}
